<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Thanks for registering!</p>
  <p>
    <a href="{{url}}">Activate my account</a>
  </p>
  <p>
    <strong>Team blablabla</strong>
  </p>

</div>
